.btnDepart {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: none;
    color: #8064a9;
    font-family: Georgia;
    font-weight: bold;
    font-size: 17px;
    padding: 11px;
    background: #f4f2f9;
    text-decoration: none;
    cursor: pointer;
}

.btnDepart:hover {
    color: white;
    background: #8064a9;
    text-decoration: none;
}