@import url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

/* open-sans-regular - latin-ext_latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../assets/fonts/open-sans-v35-latin-latin-regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* open-sans-italic - latin-ext_latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: normal;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../assets/fonts/open-sans-v35-latin-latin-italic.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* open-sans-700 - latin-ext_latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../assets/fonts/open-sans-v35-latin-latin-700.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* open-sans-700italic - latin-ext_latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../assets/fonts/open-sans-v35-latin-latin-700italic.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* 颜色 */
.markdown-purple,
.purple {
    --title-color: #8064a9;
    --text-color: #444444;
    --light-text-color: #666666;
    --lighter-text-color: #888888;
    --link-color: #745fb5;
    --code-color: #ec71b7;
    --shadow-color: #eee;
    --border-quote: rgba(116, 95, 181, 0.2);
    --border-quote-grey: #c8c8c8;
    --border: #e7e7e7;
    --link-bottom: #bbb;
    --shadow: 3px 3px 10px var(--shadow-color);
    --inline-code-bg: #f4f2f9;
    --header-weight: normal;
    --side-bar-bg-color: #fafafa;
    --control-text-color: var(var(--light-text-color));
    --active-file-text-color: var(--title-color);
    --active-file-bg-color: var(--shadow-color);
    --item-hover-bg-color: var(--shadow-color);
    --active-file-border-color: var(var(--title-color));
    --base-font: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --title-font: "EB Garamond", "Source Sans Pro", serif;
    --monospace: Courier, Monospace !important;
}

/* 页面 */
html,
body {
    margin: 0;
    padding: 0;
    max-width: auto;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* 页边距 和 页面大小 */
.content,
.footer {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: initial;
}

.content,
.footer {
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    letter-spacing: 0;
    overflow-x: hidden;
}

.content {
    padding: 0px;
    width: 100%;
    max-width: 1100px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    flex: 1 0 auto;
}

.content .markdown-body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

/* Link 链接 */
.content a,
.footer a {
    color: var(--link-color);
    text-decoration: none;
}

.content a,
.footer a {
    border-bottom: 1px solid var(--link-bottom);
}

.content {
    color: var(--light-text-color);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--header-weight);
    line-height: 1.3;
    cursor: text;
    color: var(--title-color);
    font-family: var(--title-font);
}

.content h1 {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.content h1:after {
    content: "";
    display: block;
    margin: 0.2rem auto 0;
    width: 6rem;
    height: 2px;
    border-bottom: 2px solid var(--title-color);
}

.content h2 {
    padding-left: 0.4em;
    border-left: 0.4em solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
}

.content h1 tt,
.content h1 code {
    font-size: inherit;
}

.content h2 tt,
.content h2 code {
    font-size: inherit;
}

.content h3 tt,
.content h3 code {
    font-size: inherit;
}

.content h4 tt,
.content h4 code {
    font-size: inherit;
}

.content h5 tt,
.content h5 code {
    font-size: inherit;
}

.content h6 tt,
.content h6 code {
    font-size: inherit;
}

.content p,
.footer p,
.content blockquote,
.content ul,
.content ol,
.content dl,
.content table {
    margin: 0.8em 0;
}

/* horizontal rule */
.content hr {
    margin: 1.5em auto;
    border-top: 1px solid var(--border);
}

/* 列表 */
.content li>ol,
.content li>ul {
    margin: 0 0;
}

.content li p.first {
    display: inline-block;
}

.content ul,
.content ol {
    padding-left: 2rem;
}

.content ul:first-child,
.content ol:first-child {
    margin-top: 0;
}

.content ul:last-child,
.content ol:last-child {
    margin-bottom: 0;
}

.content ol li,
.content ul li {
    padding-left: 0.1rem;
}

/* 引用 */
.content blockquote {
    border-left: 0.3rem solid var(--border-quote);
    padding-left: 1em;
    font-family: var(--base-font);
}

/* 表格 */
.content table {
    margin-bottom: 1.25rem;
    border-collapse: collapse;
}

.content table th,
.content table td {
    padding: 8px;
    line-height: 1.25rem;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.content table th {
    font-weight: bold;
}

.content table thead th {
    vertical-align: middle;
}

.content table tr:nth-child(2n),
.content thead {
    background-color: #fcfcfc;
}

/* 粗体 */
.content strong {
    padding: 0 2px;
    font-weight: bold;
}

/* inline code */
.content code,
.content tt {
    padding: 2px 4px;
    border-radius: 0.3rem;
    font-family: var(--monospace);
    font-size: 0.9rem;
    color: var(--code-color);
    background-color: var(--inline-code-bg);
    margin: 0 2px;
}

.content .footnotes {
    color: var(--code-color);
    background-color: var(--inline-code-bg);
}


/* highlight. */
.content mark {
    background: rgb(255, 255, 196);
    color: var(--text-color);
}

.content del {
    padding: 1px 2px;
}

.content pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

/* 图片居中显示 */
.content img {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

/* 写![shadow-...]() 显示图片阴影 */
.content img[alt|="shadow"] {
    box-shadow: var(--shadow);
}

/* Code fences */
/* border, bg, font */
.content .hljs {
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 0.9rem;
}

/* 代码框阴影 */
.content .hljs {
    display: block;
    -webkit-overflow-scrolling: touch;
    box-shadow: var(--shadow);
}

.content .hljs {
    padding: 0.35rem 0.75rem;
    border-radius: 0.25rem;
}

/* task list */
.content .contains-task-list {
    padding-left: 0;
}

.content .contains-task-list li {
    margin-left: 24px;
}

.content .contains-task-list .task-list-item {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.content .contains-task-list .contains-task-list {
    padding-left: 20px;
}

/* 页脚 */
.footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--inline-code-bg);
    font-size: 0.9rem;

    z-index: 999;

    flex: 0 0 auto;
}

/* 导航栏 */
.top {
    /* 设置宽度高度背景颜色 */
    height: 50px;
    width: 100%;
    background: var(--inline-code-bg);
    top: 0;
    /* 离顶部的距离为0 */
    position: fixed;
    /* 固定在顶部 */
    margin: 0;
    padding: 0;

    z-index: 1000;

    flex: 0 0 auto;
}

.top ul {
    /* 清除ul标签的默认样式 */
    width: auto;
    height: 50px;
    /* 宽度也改为自动 */
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-left: 5%;
    /* margin-top: 0; */
    padding: 0;
}

.top li {
    float: left;
    /* 使li内容横向浮动，即横向排列 */
    width: 150px;
    height: 100%;
    margin: auto;
    padding: auto;
    vertical-align: middle;
    overflow: hidden;
}

.top li:hover {
    /* 鼠标选中时背景变色 */
    background-color: var(--title-color);
}

.top li a {
    /* 设置链接内容显示的格式 */
    display: inline-block;
    height: 100%;
    width: 100%;
    /* 把链接显示为块元素可使整个链接区域可点击 */
    color: var(--title-color);
    text-align: center;
    margin: 0;
    padding-top: 15px;
    overflow: hidden;
    text-decoration: none;
    /* 去除下划线 */
}

.top li:hover a {
    color: white;
}